#canvas {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  cursor: none;
}

html,
body {
  border: 0;
  padding: 0;
  margin: 0;
}

#startButton{
  
  position: absolute;
  z-index: 100;
  top:calc(100vh /  2 - 70px / 2 );
  left:calc(100vw /  2 - 150px / 2 );
  height:70px;
  width: 150px;
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;

  border: 4px solid #494949 !important;

}